div[blocked-user] {
    display: none;
}

.block-button {
    color: #f8615c;
    background: transparent;
    font-size: 12px;
}

.block-button[page="discuss"] {
    margin-left: 15px;
}

.block-button:hover {
    color: #cf5d5a;
}