body {
    background: #262626;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    margin: 0;
}

button {
    border: none;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    background-color: #4e4e4e;
}

::-webkit-scrollbar-thumb {
    background: #858383;
    border-radius: 2px;
}

#header-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#header-image {
    width: 20px;
    margin-top: 2px;
}

#header-text {
    color: #FFF;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin: 18px 35px 18px 15px;
}

#block-list {
    max-height: 200px;
    overflow-y: auto;
    margin-bottom: 10px;
}

#block-list-placeholder {
    color: #BDBFC2;
    background: rgba(60, 60, 60, 0.56);
    display: block;
    text-align: center;
    padding: 25px 20px;
}

.blocked-user-item {
    background: rgba(60, 60, 60, 0.56);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px 15px;
    transition: 0.25s;
}

.blocked-user-item:hover {
    background: rgba(60, 60, 60, 0.8);
}

.blocked-user-username {
    color: #BDBFC2;
    max-width: 200px;
    font-size: 14px;
    font-weight: 600;
    text-overflow: ellipsis;
    overflow: hidden;
}

.blocked-user-unblock-button {
    color: #f8615c;
    background: transparent;
    font-size: 12px;
}

.blocked-user-unblock-button:hover {
    text-decoration: underline;
}

#block-user-form {
    display: flex;
    flex-direction: row;
    margin: 0 1px 10px 1px;
}

#block-user-form-input {
    color: #FFF;
    background: rgba(60, 60, 60, 0.56);
    border: none;
    outline: none;
    margin-right: 1px;
    padding: 0px 10px;
}

#block-user-form-button {
    color: #F63737;
    background: rgba(246, 55, 55, 0.15);
    width: 120px;
    height: 38px;
    font-weight: 600;
    transition: 0.25s;
}

#block-user-form-button:hover {
    background: rgba(246, 55, 55, 0.2);
}

#unblock-all-button {
    color: #2AAE5D;
    background: rgb(44, 187, 93, 0.15);
    width: 100%;
    height: 40px;
    font-weight: 600;
    transition: 0.25s;
}

#unblock-all-button:hover {
    background: rgb(44, 187, 93, 0.2);
}